@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}
#root{
  min-height: 100vh;
  display: flex;
  animation: fadeIn 1.5s;
}
.result::-webkit-scrollbar{
  display: none;
}
.loader hr{
  animation: loader 3s infinite linear;
}

@keyframes loader {
  0%{
    background-position: -800px 0px;
  }
  100%{
    background-position: 800px 0px;
  }
}

@keyframes fadeIn {
  0%{
 opacity: 0;
  }
  100%{
opacity: 1;
  }
}

.sidebar .recent{
  animation: fadeIn 1.5s;
}

@media screen and (max-width:600px) {
  .sidebar{
    display: none;
  }

  .main-bottom input{
    flex: none;
    width: 150px;
  }
  .main-bottom img{
    width: 20px;
  }

  .search-box div{
    gap: 5px;
  }
}